@font-face {
    font-family: 'Roboto-Light';
    src: url("assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("assets/fonts/Roboto-Bold.ttf");
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 16px;
    font-weight: 550;
    line-height: 1.5;
    color: #412121;
    text-align: justify;
}

.header {
    height: 100px;
}

.main {
    display: flex;
    width: 1000px;
    padding: 10px;
    margin: auto;
    background: #dfd8d8af;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container-left {
    display: flex;
    flex-wrap: wrap;
}

.main-container-right {
    display: flex;
    flex-wrap: wrap;
}

.section-left {
    width: 300px;
    margin: 20px 30px 20px 30px;
}

.section-right {
    width: 550px;
    margin: 50px;
}

.title-name {
    width: 550px;
    margin: 50px 50px 50px;
}

.left-side {
    background-color: #ca929290;
    margin: -9px;
    width: 350px;
}

.right-side {
    background-color: #ffffff90;
    margin: -9px;
    width: 650px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.section-title:after {
    content: '';
    background-color: rgba(176, 128, 128, 0.819);
    height: 2px;
    display: block;
}

.nav {
    width: 1000px;
    padding: 10px;
    margin: auto;
    background: #9e8080b5;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: #ffffff;
    transition: color 0.5s;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

.nav-link:hover {
    color: #4d2323;
    background-color: #ffffff;
    border-radius: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.photo {
    border-radius: 50%;
    margin-left: -10px;
}

.footer {
    height: 100px;
}

.footer-container {
    display: flex;
    width: 1000px;
    padding: 10px;
    margin: auto;
    background: #8c5c5cb5;
}

.link-github {
    color: #ffffff;
    transition: color 0.5s;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 110px;
}

.year {
    color: #ffffff;
    transition: color 0.5s;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 250px;
}

.link-rsschool {
    line-height: 50px;
    transition: color 0.5s;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 290px;
}

.img-lace {
    padding: 0;
    margin-left: -40px;
    margin-top: -15px;
}

.skills {
    display: flex;
}

.skills-part-2 {
    margin-left: 40px;

}

.contacts {
    list-style: none;
    margin-left: -40px;
}